Version: 0.993
Package: syncrop
Installed-Size: 490
Section: java
Maintainer: Arthur Williams <arthur@taaparthur.no-ip.org>
Homepage: http://taaparthur.no-ip.org
Priority: standard
Architecture: all
Depends: openjdk-7-jre
Description: Sync files with SyncROP
 SyncROP syncs your files to a cloud and access them form anywhere.



