[Unit]
Description=Syncrop Client

[Service]
ExecStart=/usr/bin/syncrop-daemon 
ExecReload=/usr/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=default.target

